
Django==1.7
Pillow==2.7.0
boto==2.38.0
configobj==5.0.6
cssmin==0.2.0
django-appconf==0.6
django-maintenancemode==0.10
django-pipeline==1.6.7
django-storages==1.1.8
django-tinymce==1.5.2
futures==3.0.3
jsmin==2.1.1
psycopg2==2.6.1
s3==3.0.0
six==1.9.0
sqlparse==0.1.15
sass==2.3
uwsgi==2.0.11
PyRSS2Gen==1.0.0
