{% load staticfiles %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Andrew HoChoy{% endblock %}</title>
    <meta name="description" content="Digital portfolio for Andrew HoChoy, featuring software testing, development and design work.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="https://plus.google.com/117970755679569084656"/>
    {% stylesheet 'core' %}
    {% block meta-tags %}{% endblock %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-40882290-2', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body class="{% block body-attr %}{% endblock %}">
    <nav id="wrap-nav" class="wrapper">
        <p class="about-links">Also: 
            <a class="link-self" href="{% url 'page' 'who-is' %}">Who is &amp;rew?</a>
        </p>
        <ul class="menu">
            <li><a href="{% url 'work' %}" id="projects">Work</a></li>
            <li><a href="{% url 'writings' %}">Writings</a></li>
            <li><a href="{% url 'page' 'whereabouts' %}">Whereabouts</a></li>
        </ul>
    </nav>
    <header>
        <div id="logo" class="si-icons si-icons-default">
            <span id="menu-toggle" class="si-icon si-icon-hamburger" data-icon-name="hamburger"></span>
            <a class="logo-name cardo" href="{% url 'index' %}">&amp;rew.</a>
        </div>
    </header>
    <main id="wrap-container">
        {% block content-hero %}{% endblock %}
        <div class="content-body {% block content-attr %}{% endblock %}">
            {% block content-body %}{% endblock %}
        </div>
        <footer>
            <p class="wrapper"><a href="http://www.twitter.com/ahochoy">@ahochoy</a> &middot; <a href="/">www.andrewhochoy.com</a> &middot; &copy; 2015</p>
        </footer>
    </main>
    {% javascript 'core' %}
</body>
</html>
