<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="http://andrewhochoy.us3.list-manage2.com/subscribe/post?u=baac4ae884f2fa8be566fa5c0&amp;id=206f2848d6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<h2 class="cardo">Join the &amp;crew</h2>
	<p>My world is an intersection of code, community and culture. <br /> <span>Join the &amp;crew to gain access to my latest insights, adventures and more.</span></p>  
	<div class="mc-field-group">
		<input type="email" value="" name="EMAIL" class="required email" placeholder="1. Enter your email" id="mce-EMAIL">
		<input type="submit" value="2. Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
	</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_baac4ae884f2fa8be566fa5c0_206f2848d6" value=""></div>
	<div class="clear"></div>
	<p id="powered">Powered by <a href="http://eepurl.com/P0Hkn" title="MailChimp - email marketing made easy and fun">MailKimp</a></p>
</form>
</div>
<!-- End MailChimp Signup Form -->