{% load staticfiles %}

<div class="tile-grid">
	<img class="tile-gif-bg" src="{% static 'images/static.gif' %}" alt="Gif of TV Static" />
	<a class="tile gplus small" href="http://plus.google.com/u/0/+AndrewHoChoy/posts" target="_blank">
		<img class="tile-content" src="{% static 'svg/gplus.svg' %}" alt="Google+ Logo" />
	</a>
	<a class="tile twitter small" href="https://twitter.com/ahochoy" target="_blank">
		<img class="tile-content" src="{% static 'svg/twitter.svg' %}" alt="Twitter Logo" />
	</a>
	<a class="tile linkedin small" href="http://www.linkedin.com/in/ahochoy" target="_blank">
		<img class="tile-content" src="{% static 'svg/linkedin.svg' %}" alt="LinkedIn Logo" />
	</a>
	<a class="tile tumblr small" href="http://ahochoy.tumblr.com/" target="_blank">
		<img class="tile-content" src="{% static 'svg/tumblr.svg' %}" alt="Tumblr Logo" />
	</a>
</div>
<a class="tile work large" href="{% url 'work' %}">
	<div class="tile-content">
		<p class="cardo">I bring home the bacon, so I can buy actual bacon.</p>
		<p class="arrow">&rarr;</p>
	</div>
	<img class="tile-gif-bg" src="{% static 'images/bacon.gif' %}" alt="Gif of bacon vomiting money" />
</a>